.header {
  align-items: center; /* Vertically centers all items */
  background-color: #fafafa; /* Gray98 */
  border-bottom-color: #ebebeb; /* Gray92 */
  border-bottom-style: solid;
  border-bottom-width: 3px; /* Medium */
  display: flex;
  justify-content: space-between; /* Pushes emoji to edges */
  margin: 0 auto 0.5rem;
}
.header a {
  outline-offset: -2px; /* For outline not to be clipped, to be within padding */
  padding: 0.5em 0.5em;
  text-decoration: none;
}
.header > a:first-child { /* First emoji only, no nav's first */
  padding-right: 2.5em;
}
.header > a:last-child { /* Last emoji only, no nav's last */
  padding-left: 2.5em;
}
.header a:hover {
  background-color: #f2f2f2; /* Gray95 */
}
.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-nav a {
  color: #696969; /* DimGray, L41 */
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
}
.header-nav a:hover {
  color: #4a4a4a; /* Gray29 */
}

body {
  background-color: white;
  color: black;
  font-family: Verdana;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 1rem;
}
audio, video {
  width: 100%;
}

summary {
  cursor: pointer;
}
details[open] .expand {
  display: none;
}
details[open] .collapse {
  display: inline;
}
.collapse {
  display: none;
}

pre {
  font-size: 1.6em;
  line-height: 1.6;
  margin-bottom: 0;
}
pre i {
  color: #9e9e9e; /* Gray62 */
}

.subtitle {
  font-size: 1.2em;
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.text-comment {
  color: #9e9e9e; /* Gray62 */
  font-style: italic;
}
.text-ellipsis {
  overflow-x: clip; /* For the ellipsis. Value "hidden" may add vertical spacing to element */
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-justify {
  text-align: justify;
}
.text-normal {
  font-weight: normal;
}
.text-top-right {
  margin-top: 0;
  text-align: right;
}

/* EOF */






