/* To prevent Cumulative Layout Shift */
html { /* Need html to work, not body */
  overflow-y: auto; /* Need also */
  scrollbar-gutter: stable both-edges; /* Both for symmetry */
}

.header {
  align-items: center; /* Vertically centers all items */
  background-color: #fafafa; /* Gray98 */
  border-bottom-color: #ebebeb; /* Gray92 */
  border-bottom-style: solid;
  border-bottom-width: 3px; /* Medium */
  display: flex;
  justify-content: space-between; /* Pushes emoji to edges */
  margin: 0 auto 0.5rem;
}
.header:hover {
  border-bottom-color: #e3e3e3; /* Gray89 */
}
.header a {
  outline-offset: -2px; /* For outline not to be clipped, to be within padding */
  padding: 0.5em 0.5em;
  text-decoration: none;
}
.header > a { /* For emoji hover area to take the full height of multiline header */
  align-items: center;
  align-self: stretch;
  display: flex;
}
.header > a:first-child { /* First emoji only, no nav's first */
  padding-right: 2.5em;
}
.header > a:last-child { /* Last emoji only, no nav's last */
  padding-left: 2.5em;
}
.header a:hover {
  background-color: #f2f2f2; /* Gray95 */
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-nav a {
  color: #696969; /* DimGray, L41 */
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
}
.header-nav a:hover {
  color: #4a4a4a; /* Gray29 */
}

.header-sub {
  border: none;
  justify-content: center;
  margin: 0;
  padding: 0 0.5em;
}
.header-sub a {
  padding: 0.4em 0.8em;
}
.header-sub:nth-child(1) {
  background-color: hsl(0.07turn 75% 98%);
}
.header-sub:nth-child(2) {
  background-color: hsl(0.42turn 75% 95%);
}
.header-sub:nth-child(3) {
  background-color: hsl(0.58turn 75% 98%);
}
.header-sub:nth-child(4) {
  background-color: hsl(0.91turn 75% 98%);
}
.header-sub:nth-child(1) a:hover {
  background-color: hsl(0.07turn 75% 95%);
}
.header-sub:nth-child(2) a:hover {
  background-color: hsl(0.42turn 75% 92%);
}
.header-sub:nth-child(3) a:hover {
  background-color: hsl(0.58turn 75% 95%);
}
.header-sub:nth-child(4) a:hover {
  background-color: hsl(0.91turn 75% 95%);
}

body {
  background-color: white;
  color: black;
  font-family: Verdana;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 1rem;
}

summary {
  cursor: pointer;
}
details[open] .expand {
  display: none;
}
details[open] .collapse {
  display: inline;
}
.collapse {
  display: none;
}

pre {
  font-size: 1.6em;
  line-height: 1.6;
  margin-bottom: 0;
}
pre i {
  color: #9e9e9e; /* Gray62 */
}

.subtitle {
  font-size: 1.2em;
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.text-comment {
  color: #9e9e9e; /* Gray62 */
  font-style: italic;
}
.text-compact {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.text-ellipsis {
  overflow-x: clip; /* For the ellipsis. Value "hidden" may add vertical spacing to element */
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
}
.text-justify {
  text-align: justify;
}
.text-normal {
  font-weight: normal;
}
.text-nowrap {
  text-wrap-mode: nowrap;
}
.text-pretty {
  text-wrap-style: pretty;
}
.text-top-right {
  margin-top: 0;
  text-align: right;
}
.text-top-right-bottom {
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
}
.text-top-right-part {
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: right;
}

/* EOF */






