/* Wrapper > inner > [title, stat:prev, stat:curr, grow] */

/* Header */

.header-wrapper {
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 3px; /* Medium */
  border-bottom-color: #ebebeb; /* Gray92. Matches page header */
  border-bottom-style: solid;
  border-bottom-width: 3px; /* Medium. Matches page header */
}
.header-inner {
  align-items: center; /* Vertically center title, stats, and grow */
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.header-title-wrapper {
  flex: 1 1 auto;
  letter-spacing: 1px;
  overflow-x: hidden; /* To constrain the child, to use ellipsis there. Value "clip" not works here */
  padding: 0.5rem 0.5rem;
  word-spacing: 0.15em;
}
.header-title-inner { /* Title holder */
}

.header-stat-wrapper { /* For 22ch of non-bold monospaced */
  flex: 0 0 22ch;
  font-family: monospace;
  padding: 0.5rem 0 0.5rem 0.5rem;
}
.header-stat-inner { /* For bold subtitle of other font */
  font-family: Verdana;
  letter-spacing: 1px;
}

.header-grow-wrapper { /* For 3ch of non-bold monospaced */
  flex: 0 0 3ch;
  font-family: monospace;
  padding: 0.5rem 0.5rem;
}
.header-grow-inner { /* For bold subtitle of other font */
  font-family: Verdana;
  letter-spacing: 1px;
}

.bg-grow {
  background-color: hsl(0.42turn 75% 95%); /* Perceived lighter than fall:98 */
}
.bg-fall {
  background-color: hsl(0.58turn 75% 98%);
}

/* Item */

.item-wrapper {
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 3px; /* Medium */
  border-bottom-color: #ebebeb; /* Gray92. Matches page header */
  border-bottom-style: solid;
  border-bottom-width: 3px; /* Medium. Matches page header */
}

.item-inner {
  align-items: center; /* Vertically center title, stats, and grow */
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.item-inner:hover {
  background-color: #fafafa; /* Gray98. Matches page header */
}

/* Title with gauges above and below */

.item-title-container {
  align-items: stretch; /* Expands title and gauges to full container width, if not set explicitly */
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-x: hidden; /* To constrain the child, to use ellipsis there. Value "clip" not works here */
}

.item-gauge-above-a { /* Ratio old */
  background-color: hsl(0.42turn 75% 86%); /* Perceived lighter than above-b:89 */
  height: 3px;
  width: 0; /* Width will be controlled by JavaScript */
}
.item-gauge-above-b { /* Ratio all */
  background-color: hsl(0.58turn 75% 89%);
  height: 3px;
  width: 0; /* Width will be controlled by JavaScript */
}

.item-inner:hover .item-gauge-above-a {
  background-color: hsl(0.42turn 75% 83%); /* Lower Lightness by 3 from 86 */
}
.item-inner:hover .item-gauge-above-b {
  background-color: hsl(0.58turn 75% 86%); /* Lower Lightness by 3 from 89 */
}

.item-title { /* Link holder */
}
.item-title a {
  border-radius: 0.5rem;
  color: inherit; /* Use parent text color instead of link color */
  display: block; /* For full title area to be clickable */
  outline-offset: -2px; /* For outline not to be clipped, to be within padding */
  padding: 0.5rem 0.5rem; /* Matches right padding of grow indicators, and page header */
  text-decoration: none;
}
.item-title a:hover {
  background-color: #f2f2f2; /* Gray95 */
}

.item-gauge-below-a { /* Favorites prev count */
  background-color: hsl(0.07turn 75% 92%); /* Perceived lighter than below-b:89 */
  height: 3px;
  width: 0; /* Width will be controlled by JavaScript */
}
.item-gauge-below-b { /* Favorites curr count */
  background-color: hsl(0.91turn 75% 89%);
  height: 3px;
  width: 0; /* Width will be controlled by JavaScript */
}

.item-inner:hover .item-gauge-below-a {
  background-color: hsl(0.07turn 75% 89%); /* Lower Lightness by 3 from 92 */
}
.item-inner:hover .item-gauge-below-b {
  background-color: hsl(0.91turn 75% 86%); /* Lower Lightness by 3 from 89 */
}

/* Stats with grow indicators */

.item-stat-container {
  align-items: flex-end; /* Right align all stat */
  display: flex;
  flex: 0 0 22ch;
  flex-direction: column;
  font-family: monospace;
  white-space: pre;
}

.item-stat-prev-old {
  border-radius: 0.5rem 0.5rem 0 0;
  color: black;
  padding-right: 0.5rem; /* Matches left and right spacings of item */
}
.item-stat-prev-23 {
  border-radius: 0 0 0 0;
  color: #696969; /* DimGray. L41 */
  padding-right: 0.5rem; /* Matches left and right spacings of item */
}
.item-stat-prev-7 {
  border-radius: 0 0 0.5rem 0.5rem;
  color: #696969; /* DimGray. L41 */
  padding-right: 0.5rem; /* Matches left and right spacings of item */
}

.item-stat-curr-old {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: black;
  padding-right: 0.5rem; /* Matches left and right spacings of item */
}
.item-stat-curr-23 {
  border-radius: 0.5rem 0.5rem 0 0;
  color: #696969; /* DimGray. L41 */
  padding-right: 0.5rem; /* Matches left and right spacings of item */
}
.item-stat-curr-7 {
  border-radius: 0 0 0.5rem 0.5rem;
  color: #696969; /* DimGray. L41 */
  padding-right: 0.5rem; /* Matches left and right spacings of item */
}

.item-grow-container {
  align-items: flex-start; /* Left align all grow */
  display: flex;
  flex: 0 0 3ch;
  flex-direction: column;
  font-family: monospace;
  white-space: pre;
}

.item-grow-old {
  border-radius: 0.5rem 0.5rem 0 0;
  color: black;
  padding: 0 0.5rem; /* Matches left padding of item-title a, and page header */
}
.item-grow-23 {
  border-radius: 0 0 0 0;
  color: #696969; /* DimGray. L41 */
  padding: 0 0.5rem; /* Matches left padding of item-title a, and page header */
}
.item-grow-7 {
  border-radius: 0 0 0.5rem 0.5rem;
  color: #696969; /* DimGray. L41 */
  padding: 0 0.5rem; /* Matches left padding of item-title a, and page header */
}

.item-inner:hover .item-stat-prev-23,
.item-inner:hover .item-stat-prev-7,
.item-inner:hover .item-stat-curr-23,
.item-inner:hover .item-stat-curr-7,
.item-inner:hover .item-grow-23,
.item-inner:hover .item-grow-7 {
  color: #595959; /* Gray35. Lower Lightness by 6 from 41 */
}

/* Substantial changes marking */

.item-mark-grow {
  background-color: hsl(0.42turn 75% 92%); /* Perceived lighter than fall:95 */
}
.item-mark-fall {
  background-color: hsl(0.58turn 75% 95%);
}

.item-inner:hover .item-mark-grow {
  background-color: hsl(0.42turn 75% 89%); /* Lower Lightness by 3 from 92 */
}
.item-inner:hover .item-mark-fall {
  background-color: hsl(0.58turn 75% 92%); /* Lower Lightness by 3 from 95 */
}

.item-mark-grow.item-stat-curr-23,
.item-mark-grow.item-stat-curr-7,
.item-mark-grow.item-grow-23,
.item-mark-grow.item-grow-7 {
  color: #525252; /* Gray32. Lower Lightness by 9 from 41 */
}
.item-mark-fall.item-stat-curr-23,
.item-mark-fall.item-stat-curr-7,
.item-mark-fall.item-grow-23,
.item-mark-fall.item-grow-7 {
  color: #595959; /* Gray35. Lower Lightness by 6 from 41 */
}

.item-inner:hover .item-mark-grow.item-stat-curr-23,
.item-inner:hover .item-mark-grow.item-stat-curr-7,
.item-inner:hover .item-mark-grow.item-grow-23,
.item-inner:hover .item-mark-grow.item-grow-7 {
  color: #4a4a4a; /* Gray29. Lower Lightness by 3 from 32 */
}
.item-inner:hover .item-mark-fall.item-stat-curr-23,
.item-inner:hover .item-mark-fall.item-stat-curr-7,
.item-inner:hover .item-mark-fall.item-grow-23,
.item-inner:hover .item-mark-fall.item-grow-7 {
  color: #525252; /* Gray32. Lower Lightness by 3 from 35 */
}

/* Rank changes marking */

.item-mark-up {
  background-color: hsl(0.07turn 75% 95%); /* Perceived lighter than dn:95 */
}
.item-mark-dn {
  background-color: hsl(0.91turn 75% 95%);
}

.item-inner:hover .item-mark-up {
  background-color: hsl(0.07turn 75% 92%); /* Lower Lightness by 3 from 95 */
}
.item-inner:hover .item-mark-dn {
  background-color: hsl(0.91turn 75% 92%); /* Lower Lightness by 3 from 95 */
}

.item-mark-up.item-stat-prev-23,
.item-mark-up.item-stat-prev-7,
.item-mark-up.item-grow-23,
.item-mark-up.item-grow-7 {
  color: #595959; /* Gray35. Lower Lightness by 6 from 41 */
}
.item-mark-dn.item-stat-prev-23,
.item-mark-dn.item-stat-prev-7,
.item-mark-dn.item-grow-23,
.item-mark-dn.item-grow-7 {
  color: #595959; /* Gray35. Lower Lightness by 6 from 41 */
}

.item-inner:hover .item-mark-up.item-stat-prev-23,
.item-inner:hover .item-mark-up.item-stat-prev-7,
.item-inner:hover .item-mark-up.item-grow-23,
.item-inner:hover .item-mark-up.item-grow-7 {
  color: #525252; /* Gray32. Lower Lightness by 3 from 35 */
}
.item-inner:hover .item-mark-dn.item-stat-prev-23,
.item-inner:hover .item-mark-dn.item-stat-prev-7,
.item-inner:hover .item-mark-dn.item-grow-23,
.item-inner:hover .item-mark-dn.item-grow-7 {
  color: #525252; /* Gray32. Lower Lightness by 3 from 35 */
}

/* EOF */






