.item {
  align-items: center; /* Vertically center title, stats, spacer, and grow */
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.item:hover {
  background-color: #fafafa; /* Gray98 */
}

.item-title {
  flex: 1 1 60%;
  overflow: hidden; /* To constrain the child */
}
.item-title a {
  border-radius: 0.5rem;
  color: inherit; /* Use parent text color instead of link color */
  display: block; /* For full title area to be clickable */
  outline-offset: -2px; /* For outline not to be clipped, within padding */
  overflow: hidden; /* For the ellipsis */
  padding: 0.5em 0.5em; /* Matches right margin for item-grow-container, and header */
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-title a:hover {
  background-color: #f2f2f2; /* Gray95 */
}

.item-spacer {
  flex: 0 0 1em;
  height: 1em;
}

.item-stat-container {
  align-items: flex-end; /* Right-align all stat */
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  font-family: monospace;
  white-space: pre;
}
.item-stat-old {
  color: black;
  font-weight: normal;
}
.item-stat-23,
.item-stat-7 {
  color: #696969; /* DimGray, L41 */
}

.item-grow-container {
  align-items: flex-start; /* Left-align all grow */
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  font-family: monospace;
  white-space: pre;
  margin-left: 0.5em; /* Half a spacer */
  margin-right: 0.5em; /* Matches left padding for item-title a, and header */
}
.item-grow-old {
  color: black;
  font-weight: normal;
}
.item-grow-23,
.item-grow-7 {
  color: #696969; /* DimGray, L41 */
}

.item-wrapper { /* Border matches header */
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 3px; /* Medium */
  border-bottom-color: #ebebeb; /* Gray92 */
  border-bottom-style: solid;
  border-bottom-width: 3px; /* Medium */
}
.item-wrapper:last-child {
  border-bottom: none;
}

/* EOF */






